<div style="margin:0px auto; margin-top:30px; width:900px; height:500px; border:2px ;">
    <%= link_to image_tag('http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/%E5%94%90%E5%A9%86%E9%86%8B.png'), home_content_path%>
</div>

<div style="margin:0px auto; margin-top:30px; width:900px; height:500px; border:2px ;">
    <%= link_to image_tag('http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/%E7%94%9C%E7%8E%89%E8%BB%922.png') %>
</div>

<div style="margin:0px auto; margin-top:30px; width:900px; height:500px; border:2px ;">
    <%= link_to image_tag('http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/%E5%8D%A1%E7%B6%AD%E8%98%AD.png') %>
</div>

<div style="margin:0px auto; margin-top:30px; width:900px; height:500px; border:2px ;">
    <%= link_to image_tag('http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/%E6%9E%9C%E9%86%AC%E5%A5%B3%E5%AD%A9.png') %>
</div>

<div style="margin:0px auto; margin-top:30px; width:900px; height:500px; border:2px ;">
    <%= link_to image_tag('http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/%E7%94%9C%E7%8E%89%E8%BB%922.png') %>
</div>

<div style="margin:0px auto; margin-top:30px; width:900px; height:500px; border:2px ;">
    <%= link_to image_tag('http://cdn.ypcall.com/users/B0076044-C51B-4445-BA56-2928EC583EA8/drive/media/%E9%BE%8D%E7%9C%BC%E6%9E%9C%E4%B9%BE.png') %>
</div>
